<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>Romajime</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.f12o.inputmethod.Romajime</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>Romajime</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>ComponentInputModeDict</key>
	<dict>
		<key>TISUnifiedUIForInputMethodEnabling</key>
		<true/>
		<key>tsInputModeListKey</key>
		<dict>
			<key>com.apple.inputmethod.Japanese</key>
			<dict>
				<key>TISInputSourceID</key>
				<string>com.f12o.inputmethod.Romajime.Japanese</string>
				<key>TISIntendedLanguage</key>
				<string>ja</string>
				<key>tsInputModeDefaultStateKey</key>
				<true/>
				<key>tsInputModeIsVisibleKey</key>
				<true/>
				<key>tsInputModeKeyEquivalentKey</key>
				<string>R</string>
				<key>tsInputModeKeyEquivalentModifiersKey</key>
				<integer>4608</integer>
				<key>tsInputModePrimaryInScriptKey</key>
				<true/>
				<key>tsInputModeScriptKey</key>
				<string>smJapanese</string>
			</dict>
		</dict>
		<key>tsVisibleInputModeOrderedArrayKey</key>
		<array>
			<string>com.apple.inputmethod.Japanese</string>
		</array>
	</dict>
	<key>InputMethodConnectionName</key>
	<string>Romajime_1_Connection</string>
	<key>InputMethodServerControllerClass</key>
	<string>RomajimeInputMethod.RomajimeInputController</string>
	<key>LSBackgroundOnly</key>
	<true/>
	<key>LSUIElement</key>
	<true/>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>TISIntendedLanguage</key>
	<string>ja</string>
	<key>tsInputMethodCharacterRepertoireKey</key>
	<array>
		<string>Latn</string>
		<string>Hira</string>
		<string>Kana</string>
	</array>
</dict>
</plist>
